
 <!--<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p> -->

<p>
  <strong>Result:</strong>
  <%= @entry.content %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
