 <div class="entry-modal-wrap">
  	<i id="close-modal" class="icon-cross"></i>
     <div class="container animated fadeInUp">
      <%= render 'form' %>
     </div><!-- .entry-container -->
 </div><!-- .entry-wrap -->
 <div class="home-wrap">
 	<header>
    <img class="logo animated fadeInDown" src="/assets/diabee-logo.png" alt="Diabee" />
    <h3 class="animated fadeInDown">Start tracking your glucose levels</h3>
	</header>
 	<div class="container">
 		<span class="entry-btn"><img id="modal-toggle" src="/assets/add-entry-btn.png" alt="Entry button" role="button" /></span>
 	</div><!-- .container -->
 </div><!-- .home-wrap -->
