/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body { background:#f3f3f3; padding-top: 30px; border-top:solid 2px #e14c3b; font-family: 'Open Sans', sans-serif; }

/* Bootstrap overwrites
-------------------------------- */
.container {max-width: 600px; position: relative; }
.container-inner { padding:15%; }
.fa.fa-user {font-size: 150%; color: #999; }
.page-header {border: 0; }

/* Header
-------------------------------- */
/* Logo */
.logo {display: block; text-align: center; }
.logo i, .logo h3 {color:#e14c3b; }
.logo i {font-size: 100%; margin-right: 10px; }
.logo h3 {font-size: 320%; font-family: 'Open Sans', sans-serif; font-weight: 700; } 

/* Entry */
.entry-content {display:block; text-align:center; font-size: 800%; color: #74c17b; }
.entry {position:relative; background-color:#fff; display: block; margin-bottom: 20px;  padding-top: 10px;  }
.md {display: block; text-align: right;   }
.md p {font-size: 120%; margin: 15px 30px; 0 0; color: #999; }

/* Meta */
.btn.add {background: none; border-color: #74c17b; color: #74c17b; margin-bottom: 10px; }
.meta {padding: 10px 0; position: absolute; bottom: 0; left: 0; }
.meta a {color:#999; font-weight: 200; }
