/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body { background:#ebebeb; color: #555; font-family: 'Open Sans', sans-serif; }

/* Bootstrap overwrites
-------------------------------- */
.container {max-width: 600px; position: relative; padding-top: 20px; }
.container-inner { padding:5%; }
.fa.fa-user {font-size: 125%; color: #999; }
.page-header {border: 0; }
.navbar ul li a {color: #999; font-size: 110%; }
.navbar ul li a:hover, .fa.fa-user:hover  {background: none; color:#e14c3b; }
.navbar ul li a:focus, .fa.fa-user:hover  {background: none; }
.navbar-default {background: #ebebeb; border:0; }

/* Footer */
footer {background: #fff; color: #e14c3b; text-align: center; padding: 20px 0; border-top: solid 1px #e14c3b; }

/* Header
-------------------------------- */
/* Logo */
.logo {display: block; text-align: center; }
.logo i, .logo h3 {color:#e14c3b; margin:0; }
.logo i {font-size: 100%; margin-right: 10px; }
.logo h3 {font-size: 320%; font-family: 'Open Sans', sans-serif; font-weight: 700; } 

/* Entry */
.entry-content {display:block; text-align:center; font-size: 800%; color: #74c17b; }
.entry {position:relative; background-color:#fff; display: block; margin-bottom: 20px;  padding-top: 10px;  }
.md {display: block; text-align: right; float: right; }
.md p {font-size: 120%; color: #999; }

/* Meta */
.btn.add {background: none; border-color: #74c17b; color: #74c17b; margin-bottom: 10px; }
.meta a:hover .fa-clock-o {color:#e14c3b; }
.meta {color:#999; }
.meta a {color:#999; font-weight: 200; }
.meta a:hover {text-decoration: none; color:#e14c3b; }
.meta a:hover span {text-decoration: none; color:#999; }
.meta i {margin-right: 5px; }

/* Sign in portal
-------------------------------- */
/* Header */
.login-h {display: block; text-align: center; margin: 50px 0 0 0; }
.login-main {background: #fff; max-width: 375px; border-radius: 5px; margin-top:25px; padding: 30px; color: #555; font-weight: 200;  }
.login-main label {font-weight: 200; }
.login-main input {width: 100%; border-radius: 5px; margin-bottom: 20px; padding: 15px; border: solid 1px #ddd; }
.login-main h3 {margin:0 0 20px 0; }
.logo.login-portal {margin-bottom: 40px; }

.login-main ul {margin:0; padding:0; }
.login-main li {margin:0; padding:0; list-style-type: none; display: inline-block; float: left; }
.login-main .c-box-label { margin-left: 20px; }
.actions input {background: #ddd; border: 0;   }
.actions input:hover {background: #74c17b; transition:all .2s ease-in-out; color:#fff; }

/* Navigations */
.main-nav { position:fixed;width:250px; display: none; min-height:100%; background:#e14c3b; top:0; left:0; }
.main-nav ul {margin:0; padding:0; }
.main-nav li {margin:0; padding:0; list-style-type:none; display:block;  }
.main-nav li a {display:block; padding:15px; color:#fff; text-decoration:none; text-transform:uppercase; transition:all .3s ease-in-out;  }
.main-nav li a:hover {background:rgba(255,255,255,0.1); }
.main-nav .nav-inner {padding: 45px 0 0 0; }
#toggle {position:absolute; left:30px; top:25px; font-size:150%; }
#toggle:hover {cursor:pointer; }
.close {display: block; text-align: right; }
.close i {color: #fff; }
.user-id {color: #fff; background-color: rgba(255,255,255,0.2); padding: 15px !important; }
#close {font-size: 120%; padding: 10px; }








