/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body { background:#ebebeb; color: #555; border-top:solid 2px #e14c3b; font-family: 'Open Sans', sans-serif; }

/* Bootstrap overwrites
-------------------------------- */
.container {max-width: 600px; position: relative; }
.container-inner { padding:5%; }
.fa.fa-user {font-size: 125%; color: #999; }
.page-header {border: 0; }
.navbar ul li a {color: #999; font-size: 110%; }
.navbar ul li a:hover, .fa.fa-user:hover  {background: none; color:#e14c3b; }
.navbar ul li a:focus, .fa.fa-user:hover  {background: none; }
.navbar-default {background: #ebebeb; border:0; }

/* Footer */
footer {background: #fff; color: #e14c3b; text-align: center; padding: 20px 0; border-top: solid 1px #e14c3b; }

/* Header
-------------------------------- */
/* Logo */
.logo {display: block; text-align: center; margin-top: -70px; }
.logo i, .logo h3 {color:#e14c3b; }
.logo i {font-size: 100%; margin-right: 10px; }
.logo h3 {font-size: 320%; font-family: 'Open Sans', sans-serif; font-weight: 700; } 

/* Entry */
.entry-content {display:block; text-align:center; font-size: 800%; color: #74c17b; }
.entry {position:relative; background-color:#fff; display: block; margin-bottom: 20px;  padding-top: 10px;  }
.md {display: block; text-align: right; float: right; }
.md p {font-size: 120%; color: #999; }

/* Meta */
.btn.add {background: none; border-color: #74c17b; color: #74c17b; margin-bottom: 10px; }
.meta a:hover .fa-clock-o {color:#e14c3b; }
.meta {color:#999; }
.meta a {color:#999; font-weight: 200; }
.meta a:hover {text-decoration: none; color:#e14c3b; }
.meta a:hover span {text-decoration: none; color:#999; }
.meta i {margin-right: 5px; }
